.imgSize {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;

   
    
}

.Col{
    border-radius: 5px;
}

.Container{
    padding: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 20px;
}

.text-center{
    text-align: center;
}